body {
    background-color: hsl(30, 38%, 92%);
}

.body {
    width: 720px;
    height: 540px;
    background-color:blueviolet;
    border-radius: 3%;
    display: block;
    margin: 150px auto;
}

.left-side {
    width: 50%;
    height: 100%;
    float: left;
    border-top-left-radius: 3%;
    border-bottom-left-radius: 3%;
    background-image: url("../images/image-product-desktop.jpg");
    background-size: contain;
    background-repeat: no-repeat;
}

 .left-side img {
    width: 100%;
 }

 .right-side {
    width:50%;
    height: 100%;
    float: right;
    border-top-right-radius: 3%;
    border-bottom-right-radius: 3%;
    background-color: white;
 }

 .container {
    width: 65%;
    height: 75%;
    margin: 50px auto ;
 }

 .price {
    width: 100%;
    height: 100px;
    font-size: 125%;
    margin: 15px 0;
 }

 .price h1, .price h6 {
    position: absolute;
    color: hsl(158, 36%, 37%);
 }

 .price h6 {
    margin-left: 170px;
    margin-top: 45px;
}

 h1, h6 {
    display: inline;
    font-family: 'Fraunces', serif;
    font-weight: bold;
 }

 p {
    font-size: 14px ;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    color: hsl(158, 36%, 37%);
    margin-top: 30px;
    text-align: justify;
 }

 #bouton {
    width: 100%;
    height: 50px;
    margin: 15px 0;
 }

.bouton {
    width: 100%;
    height: 50px;
    background-color: hsl(158, 36%, 37%);
    color: white;
    border-radius: 10px;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-weight: bold;
}

.bouton img {
    width: 15px;
    height: 16px;
    padding-right: 10px;
}